<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'imgs/5e8cf6cf69158 1 (1).png' %}" alt="">
        <ul class="list">
            <li>o нас |</li>
            <li>наши филиалы  |</li>
            <li>курсы  |</li>
            <li>наши контакты </li>
        </ul>
    </header>

    <div class="main">
        <h1>Наши курсы</h1>
        <div class="content">
            <div class="img-box">
                <img src="{% static 'imgs/photo_2022-05-31_17-34-49 1.png' %}" alt="">
            </div>
            <div class="info-box">
                <p> Веб программирование <br> Frontend-разработчик – работает над визуальным видом сайта, <br> подбирает шрифты, картинки, следит за тем, чтобы все графические <br> элементы правильно работали, а контент загружался на всех <br> устройствах.</p>
                <p class="p">Продолжительность курса: 6 месяцев.</p>
                <p class="p1">Стоимость курса: 800 000 сум/месяц</p>
            </div>
        </div>
    </div>

    <div class="bento">
        <div class="info">
            <p class="text">Backend программирование</p>
            <p class="text1">Backend-разработчик - это специалист, который занимается программно-административной частью веб-приложений, внутренним содержанием системы, серверными технологиями, базой данных, архитектурой и логикой программных продуктов.</p>
            <p>На курсе Вы изучите язык программирования Python, один из самых популярных высокоуровневых языков программирования, а также освоите самые важные Backend-инструменты: Django, базы данных SQL, Git и другое.</p>
            <p class="text2">Продолжительность курса: 6 месяцев.</p>
            <p class="text2">Стоимость курса: 1 000 000 сум/месяц. </p>
        </div>
        <div class="img-b">
            <img src="{% static 'imgs/photo_2022-07-03_19-04-25 1.png' %}" alt="">
        </div>
    </div>

    <footer class="footer">
        <div class="text-box">
            <p>наши контакты:</p>
            <p>+998 (90) 234-00-00</p>
            <p>+998 (99) 234-00-00</p>
            <p>наша электронна почта;</p>
            <p>vuerhoijw260@gmail.com</p>
            <p>wruidtfyu555@gmail.com</p>
        </div>
        <div class="icon">
            <p>мы в соц.сетях:</p>
            <img class="m0" src="{% static 'imgs/Instagram_logo_2016 1.png' %}" alt="">
            <img src="{% static 'imgs/png-transparent-telegram-computer-icons-logo-android-angle-triangle-monochrome 1.png' %}" alt=""">
            <img src="{% static 'imgs/124010 1.png' %}" alt="">
        </div>
        <div class="maps">
            <p>местонахождение <br> наших филиалов</p>
            <img src="{% static 'imgs/a1347a1e41da160a626637e05a05a852 1.png' %}" alt="">
        </div>
    </footer>
</body>
</html>