<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form Page</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="input-data">
            <input type="text" id="inp" required>
            <label>{% trans 'Paste your URL' %}</label>
        </div>
    </div>

    <div class="wrap"></div>
    <button class="btn1">{% trans 'SHORT' %}</button>
</body>
<script src="{% static 'form.js' %}"></script>
</html>